*{
    margin: 0;
    padding: 0;
}

.wrapper{
    margin: 0 auto;
    width: 500px;
    height: 455px;
    overflow: hidden;
}

#Add-New-Books{
    display: block;
    width: 130px;
    height: 50px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px;
    color: white;
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.Books-form{
    margin: 0 auto;
    display: block;
    border: 1px solid black;
    height: 350px;
    width: 250px;
    background-color: gray;
}

label{
    padding: 5px;
    text-align: center;
    display: block;
}

input{
    border-radius: 5px;
    height: 15px;
    margin: 0 auto;
    display: block
}

#add-Books{
    width: 225px;
    height: 30px;
    color: black;
    background-color: orange;
    padding: 5px;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
    cursor: pointer;
}

 
.book-card{
    width: 250px;
    height: 100px;
    text-align: center;
    border: 1px solid black;
} 